:root {
  --sl-color-accent-low: #456953;
  --sl-color-accent: #ccffbd;
  --sl-color-accent-high: #7eca9c;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeedf2;
	--sl-color-gray-2: #c2c1c7;
	--sl-color-gray-3: #8c8a94;
	--sl-color-gray-4: #595660;
	--sl-color-gray-5: #393740;
	--sl-color-gray-6: #27252e;
	--sl-color-black: #18171b;
}
:root[data-theme='light'] {
  --sl-color-accent-low: #456953;
  --sl-color-accent: #7eca9c;
  --sl-color-accent-high: #7eca9c;
	--sl-color-white: #18171b;
	--sl-color-gray-1: #27252e;
	--sl-color-gray-2: #393740;
	--sl-color-gray-3: #595660;
	--sl-color-gray-4: #8c8a94;
	--sl-color-gray-5: #c2c1c7;
	--sl-color-gray-6: #eeedf2;
	--sl-color-gray-7: #f6f6f8;
	--sl-color-black: #ffffff;
}