:root {
	--sl-color-accent-low: #456953 !important;
	--sl-color-accent: #ccffbd !important;
	--sl-color-accent-high: #7eca9c !important;
}
:root[data-theme="light"] {
	--sl-color-accent-low: #456953 !important;
	--sl-color-accent: #7eca9c !important;
	--sl-color-accent-high: #7eca9c !important;
}
