starlight-file-tree, .expressive-code figure pre, .frame, code, aside {
  border-radius: 5px;
}

code{
  text-wrap: nowrap;
}

::selection {
  background-color: var(--sl-color-accent-high);
}

::marker {
  color: var(--sl-color-accent-high);
}

// Markdown icon hack
img[src$='#icon']{
  display: inline-block; 
  margin: -3px;
}

gh-card{
  background-color: var(--sl-link-card)!important;
  border-color: var(--sl-color-gray-5) !important;
  box-shadow: var(--sl-shadow-sm)!important;
}

.iconbox{
  a::after{
    display: none !important;
  }
}

a {
  &[target="_blank"]::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    content: " ";
    $external_svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0  0  24  24'%3E%3Cpath fill='%23000' d='M14  3v2h3.59l-9.83  9.83l1.41  1.41L19  6.41V10h2V3m-2  16H5V5h7V3H5a2  2  0  0  0-2  2v14a2  2  0  0  0  2  2h14a2  2  0  0  0  2-2v-7h-2z'/%3E%3C/svg%3E");
    -webkit-mask: $external_svg no-repeat center;
    mask: $external_svg no-repeat center;
    background-color: var(--sl-color-accent); // This will color the SVG
  }
  &.social::after, &[href$='#']::after {
    content: none;
    display: unset;
  }
}

.small-width{
  width: 480px; 
  max-width: 100%; 
  margin-bottom: 45px;
}